<h1 mat-dialog-title>Esta seguro?</h1>
<div mat-dialog-content>
  <p>Este proceso no es reversible, esta a punto de eliminar a {{data.superhero}}</p>
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <span class="spacer"></span>
  <button color="primary" mat-button (click)="onConfirm()" cdkFocusInitial>Ok</button>
</div>
